.Rproj.user
Installer/*/dist/
Installer/*/build/
Installer/*/Output/
env/
tests/dist/
tests/build/
Training/env/*
Training/Detection/detection/*
Training/Detection/checkpoint/
dataflowenv/
training/Keras/kerasenv/*
training/Keras/trainer/inceptionv3-ft.model
*.pyc
Project.wpu